#SQL
DB_HOST=alogart-grp-6636.mysql.b.osc-fr1.scalingo-dbs.com:32096 
DB_USER=alogart_grp_6636
DB_PASSWORD=_s1c_LguUb9W15rKF0FkY99519z897jO6jOW1POisZx4nFIFvmhHRh_cub08Nb0P
DB_DATABASE=BLOGART25

#APP SETTINGS
APP_DEBUG=true