.bouton {
    display: inline-flex;
    flex-direction: row;
    max-width: fit-content;
    font-family: 'Lemon Milk';
    align-items: center;
    color: white;
    background-color: #711711;
    border-radius: 15px;
    padding: 0.5vw 15px;
}

.bouton-image {
    max-width: 15px;
    height: auto;
}

.top-content img {
    max-width: 100%;
    height: auto;
    margin-top: -3px;
}

.logo {
    max-width: 2vw;
    height: auto;
    color: black;
}

.titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin-left: 5vw;
    margin-bottom: 100px;
}

.ligne {
    margin-top: 1vw;
    
}

.ligne hr {
    width: 90%;
    opacity: 100%;
    margin: auto;
    border-width: 3px;
}

.titre img {
    max-width: 2vw;
    height: auto;
}

.a-la-une {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.card-image {
    width: 40vw;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%); /* Firefox */ 
}

.card-texte {
    max-width: 40vw;
}

.a-la-une-card:hover .card-image{
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%); /* Firefox */
    transition:all 0.3s;
}

.a-la-une-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    margin-bottom: 100px;
}

.a-la-une-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-la-une-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 4vw 2vw;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    gap: 30px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 100px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 100px;
}

.form-top {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

#exampleInputMessage {
    height: 200px;
}

.form-control {
    border-style: none;
    background-color: #F6F6F6;
}